                       	
<img onerror="this.src='http://vi-digital.com/EBBStetson/AspMushSwiss_2014.png';" src="AspMushSwiss_2014.png" id="tag1" style="display: none;" />

		
<img onerror="this.src='http://vi-digital.com/Corporate---EBB/Mocha_2014.png';" src="Mocha_2014.png" id="tag2" 
             style="position: absolute; "/>

<img onerror="this.src='http://vi-digital.com/EBBStetson/StrawBan_Smoothie_Cropped_4.png';" src="StrawBan_Smoothie_Cropped_4.png" id="tag3" style="display: none;" />

<img onerror="this.src='http://vi-digital.com/lib/morrison/WHC/Club_Thin_2014_0.png';" src="Club_Thin_2014_0.png" id="tag4" style="display: none;" />

(A.)onClick="ClipBoard();"

//set path
ZeroClipboard.setMoviePath('http://davidwalsh.name/demo/ZeroClipboard.swf');
//create client
var clip = new ZeroClipboard.Client();
//event
clip.addEventListener('mousedown',function() {
	clip.setText(document.getElementById('box-content').value);
});
clip.addEventListener('complete',function(client,text) {
	alert('copied: ' + text);
});
//glue it to the button
clip.glue('copy');



	<img id="tag1" src="http://vi-digital.com/EBBStetson/AspMushSwiss_2014.png" style="display: none;"/> 
		<img onerror="this.src='http://vi-digital.com/Corporate---EBB/Mocha_2014.png';" src="Mocha_2014.png"     id="tag2"  style="position: absolute; "/>

		<img
		id="tag3" src="http://vi-digital.com/EBBStetson/StrawBan_Smoothie_Cropped_4.png"
		style="display: none;"/><img id="tag4"
																	  src="http://vi-digital.com/lib/morrison/WHC/Club_Thin_2014_0.png"
																	  
																	  style="display: none;"/>

<img id="tag1" src="http://vi-digital.com/EBBStetson/AspMushSwiss_2014.png" style="display: none;"/> 
<img onerror="this.src='http://vi-digital.com/Corporate---EBB/Mocha_2014.png';" src="Mocha_2014.png"     id="tag2"  style="position: absolute; "/>
<img id="tag3" src="http://vi-digital.com/EBBStetson/StrawBan_Smoothie_Cropped_4.png" style="display: none;"/>
<img id="tag4" src="http://vi-digital.com/lib/morrison/WHC/Club_Thin_2014_0.png" style="display: none;"/>


rgxPat_nl =  
(\r\n|\r|\n)

rgxPat_ws =  
\s+

rgxPat_i =   
((?:\<img)(?:[\w\W]+?)(?:\/\>))

rgxPat_css = 
(style\=\"(?:[\w\W]+?)\")

rgxPat_id  = 
(id\=\"(?:[\w\W]+?)\")

rgxPat_err = 
(onerror\=\"(?:[\w\W]+?)\")

rgxPat_s =   
(src\=\"[\w\W]+?\")

rgxPat_u =   
((?:http|https):\/\/(?:[\w\-_]+(?:(?:\.[\w\-_]+)+))(?:[\w\-\.,@?^=%&amp;:\/~\+#]*[\w\-\@?^=%&amp;\/~\+#])?)

rgxPat_f =   
(\w+\.png)