
/*Print Styles*/
@media print {
    * {
        text-shadow: none !important;
        color: #000 !important; /* Black prints faster : h5bp.com/s*/
        background: transparent !important;
        box-shadow: none !important;
    }

    /*Don't show links for images, or javascript/internal links*/
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr, img {
        page-break-inside: avoid;
    }
    input {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none !important;
        outline: none !important;
        outline-offset: 0px;
        border: none !important;

    }
    @page {
        margin: .5cm .5cm;
    }
    .form-control {
        color: #000;
        border: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        /*fix for: Chrome Issue 174583: box-shadow, when printed, appears solid black .*/
        transition: none !important;
    }
    .input-group-addon {
        color: #000;
        background-color: #fff;
        border: none;
    }
    #submit-wkorder{
        display: none;
    }
    .f{
        background: initial !important;
    }
    .btn.btn-default:not(.active) {
        display:none !important;
    }

}/* ///END: print styles */
