/*body{box-sizing: border-box;}*/
@font-face {
    font-family: "EurostileExt2";
    src: url("../fonts/EurostileExt2.ttf");
}
* {font-family:"EurostileExt2", sans-serif}
body{background: black url("../img/space.jpg") no-repeat fixed left center; background-size: cover;}
.f-nova {font-family: "EurostileExt2", serif;}
.no-break{white-space: nowrap}
